.section-social-media {
  display: flex;
  align-items: center; 
  justify-content: center;
  gap: 0.5em;
  margin: 0.75rem 0 0;
  
  img {
    width: 1rem; 
    height: auto; 
    object-fit: contain; 
    transition: transform 0.2s ease; 

    &:hover {
      transform: scale(1.1); 
    }
  }
}
