<section class="section-social-media">
    <app-custom-button-component 
    (buttonClick)="openExternalLink(socialLinks.github)" 
    [iconSrc]="'github.svg'"
    iconAlt="Ir a página do Github"
    sizes="small"
    color="link"
    >
    </app-custom-button-component>
    <app-custom-button-component 
    (buttonClick)="openExternalLink(socialLinks.youtube)"
    [iconSrc]="'youtube.svg'"
    iconAlt="Ir a página do Youtube"
    sizes="small"
    color="link"
    >
    </app-custom-button-component>
    <app-custom-button-component 
    (buttonClick)="openExternalLink(socialLinks.linkedin)"
    [iconSrc]="'linkedin.svg'"
    iconAlt="Ir a página do Linkedin"
    sizes="small"
    color="link"
    >
    </app-custom-button-component>
    <app-custom-button-component 
    (buttonClick)="openExternalLink(socialLinks.instagram)"
    [iconSrc]="'instagram.svg'"
    iconAlt="Ir a página do Instagram"
    sizes="small"
    color="link"
    >
    </app-custom-button-component>
    <app-custom-button-component 
    (buttonClick)="openExternalLink(socialLinks.discord)"
    [iconSrc]="'discord.svg'"
    iconAlt="Ir a página do Discord"
    sizes="small"
    color="link"
    >
    </app-custom-button-component>
</section>