.group-section {
    padding: 1em;
    border-radius: 0.57em;
    margin: 1em 0;
    border: 1px solid var(--medium-dark);
    animation: subirFade .8s ease-out forwards;
    
    >div {
        display: grid;
        align-items: center;
        grid-template-columns: auto 3fr auto;
        margin-bottom: 0.57em;
    }

    h2 {
        margin: 0;
        font-size: var(--font-size-medium);
        font-weight: 400;
    }

    &__logo {
        width: 2.68em;
        height: 2.68em;
        border: 1px solid var(--medium-dark);
        border-radius: 0.57em;
    }

    &__description {
        align-items: stretch;
        margin-left: 0.57em;

        &__title{
            color: var(--text-color-primary);
        }

        p {
            margin: 0.28em 0 0 0;
            font-size: var(--font-size-capition);
            color: var(--text-color-secondary);
        }

    }
}

.modal{
    background-color: #1F1F1F;
    border: 1px solid var(--dark-gray);
    margin: 0.35em 0;
    padding: 0.8em 1em;

    &:first-child {
        margin-top: 0;
    }

    &:last-child{
        margin-bottom: 0;
    }
}