<section class="group-section" [ngClass]="parentType">
  <div class="group-section__content">
    <img [src]="src" class="group-section__logo" alt="Logo FullDev" />
    <div class="group-section__description">
      <h2 class="group-section__description__title">{{ text }}</h2>
      <p class="group-section__description__subtitle">{{ description }}</p>
    </div>
    <app-custom-button-component
      class="group-section__action"
      sizes="medium"
      [text]="buttonText"
      color="link"
      (buttonClick)="goToGroupLink()"
    ></app-custom-button-component>
  </div>

  <app-modal-membership
    [isOpen]="isMembershipModalOpen"
    [groupName]="groupName || text"
    (close)="closeMembershipModal()"
    (confirm)="onMembershipConfirmed($event)"
    (accessGroup)="onAccessGroup()"
  ></app-modal-membership>
</section>
